# Ignorar toda la instalación de WordPress excepto el tema MagneticWave y el dump de BD
/*
!/.gitignore
!/bd/
!/bd/wp_theme.sql
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/magneticwave/
